@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* { /* Prevent the overflow while giving padding */
    box-sizing: border-box;
  }
   
  /* html,
  body {
    font-family: 'Roboto', sans-serif;
  } */

  .shopping-cart {
    /* width: 40%;
    height: auto; */
    margin-top: 50px ;
    margin-bottom:125px;
    background: #f5f4f4;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    width:95%;
    /* display: flex;
    flex-direction: column; */
  }

  .title {
    height: 60px;
    border-bottom: 1px solid #989da3;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 22px;
    font-weight: 400;
  }
   
  .item {
    margin:1rem 0;
    padding: 20px 50px;
    /* height: auto; */
    display: flex;
    border-bottom:  1px solid #989da3;
  }


  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 20px;
  }
  .delete-btn{
    /* display: inline-block; */
    Cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
  }

  .product-image {
    margin-right: 30px;
    width: 90px;
    height: 90px;
    border:2px solid black;
  }
   

  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

  /*Quantity */
  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    /* border:1px solid #053966; */
    border : none;
    background-color:Transparent ;
    border-radius: 2px;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #d41a1a;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #999999;
    border-radius:40px;
    border: none;
    cursor: pointer;
    margin:3px 0;
    /* background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none; */
    
  }
  /* Butona tıklandığında */
  button[class*=btn]:active {
    background-color: #2a2c2a;
    box-shadow: 0 1px #666;
    transform:translate(2px);
  }
  button:focus,
  input:focus {
    outline:0;
  }



 
#minus-btn, #plus-btn{
    cursor:pointer;
    color:orange;
  }

  .total-price {
    /* width: 83px; */
    padding-top: 27px;
    padding-left:2rem;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }


/*Payment Card */

.summary{
  /* padding:1rem 5rem; */
  float:right;
  position:fixed;
  background-color: #e39e3178;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  width:80%;

}
  

.summary-title {
  height: 40px;
  border-bottom: 1px solid #989da3;
  padding:0 10px;
  color: #2a2d31;
  font-size: 20px;
  font-weight: 400;
}



  
.summary-price-content{
  margin:0.25rem 0;
  padding: 5px 5px;
  /* height: auto; */
  display: flex;
  justify-content: space-between;
  border-bottom:  1px solid #989da3;
}

.summary-price-content .summary-total-price{
  color:#000000;

}

#summary-buy-button{
  display:flex;
  justify-content: center;
  width:fit-content;
  background-color:#ffffffc9;
  margin-top:0.5rem;
  border-radius: 5px;
  color:rgb(24, 22, 18);
  padding:0.25rem 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

 #summary-buy-button:hover{
  width:fit-content;
  background-color:#8ec78f;
  margin-top:0.5rem;
  border-radius: 5px;
  color:white;
  padding:0.25rem 0.75rem;
}

#continue-shopping{

  display:flex;
  justify-content: center;
  width:fit-content;
  background-color:orange;
  border-radius: 8px;
  color:white;
  padding:0.3rem 1rem;
  margin-top:1rem;
  margin-left: auto;
  margin-right: auto;
}

#continue-shopping:hover{
  background-color:#8ec78f;
  color:white;
}

.form-control.basket{
  border-radius: 5px !important;
  margin:0 !important;
  height:fit-content !important;
}

.form-group{
  margin-bottom:0;
}

label{
  margin-bottom: 2px;
  color:black
}



.mt-100 {
  margin-top: auto;
  margin-bottom:auto;
}

.card {
  margin-bottom: 30px;
  border: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
  box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05)
}

.card .card-header {
  background-color: #fff;
  border-bottom: none;
  padding: 24px;
  border-bottom: 1px solid #f6f7fb;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card .card-body {
  padding: 30px;
  background-color: transparent
}

.cart-empty-title{
  color:#8ec78f;
  font-family: 'Poppins', sans-serif;
  margin-bottom:0;
}

.cart-empty-content{
  color:#e0ac6b ;
  font-family: 'Poppins', sans-serif;
  margin-bottom:3px;
}