*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

h4{
    color:#360b20;
}

body{
    background-color: #397488;

}

.row{
    background-color: white;
    border-radius: 10px;
    box-shadow: 12px 12px 22px gray;
}

img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn1{
    border:none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #f4b373 ;
    color:white;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn1.register-btn:hover{
    background-color: #3b1566;
    border: 1px solid;
    color:white;
}

.btn1:hover{
    background-color: #e05b82;
    border: 1px solid;
    color:white;
}

