@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.col-8.content{
    margin-top:10px;
    width:fit-content; 
    height:fit-content; 
    background-color:rgb(239, 248, 252);
     
}

.title{
    text-align: center;
    font-family: 'Lobster', cursive;
    color:crimson;
    letter-spacing: 0.25rem;
}
.sub-title{
    font-family: 'Architects Daughter', cursive;
    font-size: 23px;
    color:rgb(29, 115, 202);
}
.paragraph-content{
    width:fit-content; 
    height:fit-content; 
    background-color:	#bbeeff;
    border: 10px inset rgb(28, 61, 80);
    padding: 1rem;
    margin-bottom: 1rem;
    font-size:20px;
}

.paragraph-text{
    font-family: 'Work Sans', sans-serif;
}

.first-two{
    display:flex;
    flex-wrap: wrap;
 
}

.question{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

.signature{
    margin-left:100px;
    align-self: flex-end;
    font-family: 'Dancing Script', cursive;
    font-size:15px;
}